* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: $font-1;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-weight: 400;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $font-1;
    font-size: 16px;
    line-height: 1.5;
    color: $blue-grey;
    background: $white;
}
p {
    margin: 0;
    padding: 0;
    border: 0;
    
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: $transparent;
    img {
        border: none;
    }
    &:focus {
        outline: none;
    }
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}
html.no-scroll {
    overflow: hidden;
}
body.no-scroll {
    overflow: hidden;
}
